.ac_results {
	padding: 20px 50px;
	border: 0px solid white;
	background-color: white;
}

.ac_results li {
	margin: 2px;
	padding: 5px 25px;
	cursor: pointer;
	color: black;
	font-family:Times New Roman;
	width: 100%;
	font-size: 16px;
	line-height: 16px;
	/*overflow: hidden;*/
	border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
        border-top-right-radius: 10px;
	padding-left:17px;
}

.ac_over {
	background-color: pink;
	color: pink;
}

